body {
    background-color: rgba(32, 48, 59, 0.522);
}

h1,h2,h3 {text-align: center ;}

.startButtonClass {
    background-color: aqua;
    border:2px solid blue;
    width:30%;
    border-radius: 12px;
    cursor: pointer;
    padding: 3px;
    margin:auto;
}

.obliczenia {
    background-color: aquamarine;
    width:550px;
    height: 150px;
    border: 2px solid white;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    
}
.okienka {
    width: 60px;
    height: 60px;
    padding: 4px;
    /* border: 1px solid yellow; */
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    display: flex;
    font-weight: bold;
    /* margin: 0 auto; */
    text-align: center;
     align-items: center; /*zapamiętaj!!! do ver. centrowania!!! musi być z display:flex */
    justify-content: center;
    border-radius: 6px;
}

.input {
    width: 100px;
    height: 60px;
    padding: 4px;
    /* border: 1px solid yellow; */
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    display: flex;
    font-weight: bold;
    /* margin: 0 auto; */
    text-align: center;
     align-items: center; /*zapamiętaj!!! do ver. centrowania!!! musi być z display:flex */
    justify-content: center;
    border-radius: 6px;
}

.button {
    width: 130px;
    height: 72px;
    padding: 4px;
    font-size: 25px;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    border-radius: 6px;
    cursor: pointer;
}


#wybraneDzialanie {
    font-size: 40px;
}


.wyborCwiczenia {
    text-align: center;
    display: flex;
    /* border: 2px solid blue; */
}

.operator {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    width: 20%;
    /* float:left; */
    flex-basis: 25%;
    border: 2px solid rgb(47, 91, 194);
    padding: 3px;
    margin: 4px;
    border-radius: 7px;
    background-color: aqua;

}

.proby {
    font-size: 20px;
    font-weight: bold;
}
.dod:hover, .ode:hover, .mno:hover, .dzi:hover {
    background-color: cornflowerblue;
}
.button:hover {
    background-color: gray;
}




